body{
    text-align: center;
    background-color: #fafafa;
}
table, th, td {
    border: 1px solid #be97dc;
    border-collapse: collapse;
    background-color: #fafafa;
    padding: 2px 45px 2px;

  }
.table{
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
}

th{
    background-color:  #c4c1e0; 
}
.code{
    background-color: #fffbbe;
    font-family: monospace;
}
h1{
color:#a374d5;
}

h2{
    color: #7c73e6;
}